<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bme.task.dao.mysql.DeviceStatusMapper">

    <select id="selectDeviceList" resultType="com.bme.task.vo.DeviceStatus" parameterType="list">
        SELECT
            t.device_id deviceId,
            t.customer_id customerId,
            t.device_no deviceNo
        FROM
            t_device t
            INNER JOIN t_device_type t2 ON t.type_id = t2.type_id
            INNER JOIN t_customer t3 ON t.customer_id=t3.customer_id
        WHERE
            t2.category_code = 1
            AND t.`status` =1
    </select>

    <select id="selectCount" parameterType="date" resultType="integer">
          SELECT COUNT(1) FROM t_device_status WHERE create_time=#{createTime}
    </select>

    <insert id="insert" parameterType="list">
        INSERT INTO t_device_status (device_id, customer_id,device_no,outline_time,create_time,status)
        VALUES
        <foreach collection="list" item="s" separator=",">
            ( #{s.deviceId},#{s.customerId},#{s.deviceNo},#{s.outlineTime},#{s.createTime},#{s.status})
        </foreach>
    </insert>

    <update id="update" parameterType="map">
        UPDATE t_device_status
        SET outline_time = outline_time + #{interval}
        WHERE
        create_time = #{createTime}
        <if test="offList != null">
            AND device_id IN
            <foreach collection="offList" separator="," open="(" close=")" item="off">
                #{off}
            </foreach>
        </if>
    </update>
</mapper>
