<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bme.task.dao.mysql.TreatmentWorkTimeMapper">

    <insert id="insert" parameterType="map">
        INSERT INTO t_treatment_work_time ( device_id, work_time, customer_id, create_time )
        VALUES
        <foreach collection="list" separator="," item="t">
            ( #{t.deviceId}, #{t.workTime}, #{t.customerId}, #{t.createTime})
        </foreach>
    </insert>
</mapper>
